.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  width: 300px;
}

.portfolio-grid-cell {
  padding: 8px;
}

#portfolioDropdown {
  grid-column: 1;
}

#benchmarkDropdown {
  grid-column: 2;
}

.portfolio-grid select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #6d4a80;
  color: #e9b85f;
}

.portfolio-grid option {
  background-color: #6d4a80;
  color: #e9b85f;
}