.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  width: 300px;
}

.portfolio-grid-cell {
  background-color: #6d4a80;
  padding: 8px;
  border-radius: 8px;
}

#portfolioDropdown {
  grid-column: 1;
}

#benchmarkDropdown {
  grid-column: 2;
}
