.portfolio-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(33, 31, 94, 0.2);
  gap: 8px;
}

.portfolio-grid .cell {
  background-color: #6d4a80;
  padding: 4px;
  border-radius: 4px;
}

#portfolioDropdown {
  grid-column: 1;
  grid-row: 1;
}

#benchmarkDropdown {
  grid-column: 1;
  grid-row: 2;
}
