.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: rgb(33, 31, 94, 0.2);
  gap: 10px;
}

.labelHeader {
  font-weight: bold;
}

.cell {
  background-color: rgb(33, 31, 94, 0.2);
  /* padding: 5px; */
  display: grid;
  align-items: center; /* vertical alignment */
  justify-items: center; /* horizontal alignment */
}

#portfolioDropdown {
  grid-column: 1;
  grid-row: 1;
}

#benchmarkDropdown {
  grid-column: 2;
  grid-row: 1;
}
