.header {
  background-color: #211f5e;
  color: #e9b85f;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  place-items: center;
}

.header-container {
  align-items: center;
  min-width: 800px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-text {
  font-size: 56px;
  padding: 15px 0;
  text-align: left;
}

.header h1 {
  margin: 0;
  font-size: inherit;
}
