#root {
    max-width: 1280px;
    min-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.mainContent {
    background-color: var(--color-background);
    padding: 20px;
}