.header {
    padding: 15px 20px; /* Top/bottom and left/right padding */
    background-color: #211f5e; /* Dark bar */
    color: #e9b85f; /* Text color */
    font-size: 56px; /* Bigger text */
    font-weight: bold;
    text-align: center; /* Left-aligned text */
}
