.login-form-container {
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; /* vertical center */
    min-height: 100vh; /* full viewport height */
}

.login-form {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    max-width: 320px;
    align-items: center;
    border: 2px solid #ccc;
    padding: 20px;
}

.login-title {
    grid-column: 1 / -1;
    text-align: center;
    font-weight: bold;
}

.login-error {
    grid-column: 1 / -1;
    color: red;
    text-align: center;
    font-weight: bold;
}

label {
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

input {
    grid-column: 2;
}

.login-button {
    grid-column: 1 / -1;
}
