#root {
    /* max-width: 1280px; */
    min-width: 800px;
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
}

th,
td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.mainContent-container {
    padding: 32px 0;
    place-items: center;
}

.mainContent {
    max-width: 1200px;
    min-width: 800px;
    width: 100%;
    background-color: var(--color-background);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}
