.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.subGridWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.labelHeader {
  font-weight: bold;
}

.cell {
  background-color: rgb(33, 31, 94, 0.2);
  /* padding: 5px; */
  display: grid;
  align-items: center; /* vertical alignment */
  justify-items: center; /* horizontal alignment */
}

#portfolioDropdown {
  grid-column: 1;
  grid-row: 1 / 3;
}

#dateDropdown {
  grid-column: 2;
  grid-row: 1 / 3;
}

#portfolioInfo {
  grid-column: 3;
  grid-row: 1;
}

#benchmarkInfo {
  grid-column: 3;
  grid-row: 2;
}
