.parent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    text-align: left;
    background-color: lightblue;
    padding: 20px;
}

.labelHeader {
    font-weight: bold;
}

#div1 {
    grid-area: 1 / 1 / 3 / 2;
}
#div2 {
    grid-area: 1 / 2 / 2 / 3;
}
#div3 {
    grid-area: 2 / 2 / 3 / 3;
}
#div4 {
    grid-area: 1 / 3 / 2 / 4;
}
#div5 {
    grid-area: 2 / 3 / 3 / 4;
}
